*,
*::after,
*::before {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1.5rem;
  color: #ff2d2d;
}

p,
li {
  margin-bottom: 1rem;
  line-height: 1.7;
}

blockquote {
  display: inline-block;
  color: var(--p_color);
  margin-bottom: 0;
  width: 100%;
  max-width: 600px;
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;

  &::before {
    @extend %blockquote;
    content: '“';
  }

  &::after {
    @extend %blockquote;
    content: '”';
  }
}

%blockquote {
  font-size: 2.3rem;
  line-height: 0.1rem;
}